/*
1. отступы
    - 0 header, cover, footer
    - 24 lots, about
    - 50
    - 40
    - 478 .
    - 810 .
    - 47 .

2. оверлей(затенение) 
    - 1100 757 cover
    - 334 596 lot

3. текст
    - Raleway Regular 18
    - Raleway Regular 20
    - Raleway Regular 22
    - Raleway Bold 22
    - Raleway Bold 40
    - Raleway Bold 100
*/
.header{
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    column-gap: 0px;
    align-items:center;
    padding-left:50px; 
    padding-right: 46px;
    padding-top:0px; 
    padding-bottom:5px; 
    height:293px;
}
.nav_list{
    display: flex;
    column-gap: 31px;
    list-style: circle;
    font-size: 16.9px;
    letter-spacing: 0.7px; /*интервал между букв (em, px. in pt)*/
}
.link{
    text-decoration: none;
    border-bottom: 1px solid;
}

.active_link{
    list-style: none;
    text-decoration: none;
}
.logo{
    width: 148px;
    height:105px;
}
.address{
    width: 240;
    font-size: 18px;
    line-height: 1.3; /*интервал между строк*/
    letter-spacing: normal;
    padding-right: 39px;
}
.header_address{
    justify-self: end;
}

.cover{background-color: blue;}

.description{}

.lots{}

.about{}

.footer{}