/*
1. отступы
    - 0 header, cover, footer
    - 24 lots, about
    - 50
    - 40
    - 478 .
    - 810 .
    - 47 .

2. оверлей(затенение) 
    - 1100 757 cover
    - 334 596 lot

3. текст
    - Raleway Regular 18
    - Raleway Regular 20
    - Raleway Regular 22
    - Raleway Bold 22
    - Raleway Bold 40
    - Raleway Bold 100
*/

.header{
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items:center;
    padding:20px 200px;
    background-color: blue;
    height:293px;
}
.nav{
    display:flex;
    column-gap:20px;
}
a{
    /*display:block;*/
    width: 148px;
}

.cover{}

.description{}

.lots{}

.about{}

.footer{}