/*
1. отступы
    - 0 header, cover, footer
    - 24 lots, about
    - 50
    - 40
    - 478 .
    - 810 .
    - 47 .

2. оверлей(затенение) 
    - 1100 757 cover
    - 334 596 lot

3. текст
    - Raleway Regular 18
    - Raleway Regular 20
    - Raleway Regular 22
    - Raleway Bold 22
    - Raleway Bold 40
    - Raleway Bold 100
*/

header{
    height: 293px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navigation{
    display: flex;
    justify-content: space-between;
    column-gap:10px;
    font-family:'Raleway', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height:100%;
    letter-spacing:0;

    background-color: red;
}
.logo{
    background-color: red;
}
.cover{
    height: 757px;
    background-image: url("../images/cover.jpg");
    background-position: center;
    background-size: cover;
}
.lots{
    width: 1052px;
    height: 723px;
    background-color: red;
    margin: auto;
}
.about{
    width: 1052px;
    height: 595px;
    background-color: yellow;
    margin: auto;
}
footer{
    height: 180px;
    background-color: brown;
}
.contacts{
    list-style: none;
    font-family:'Raleway', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height:24.3px;
    letter-spacing:0;
}